@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-purple-500: oklch(0.6527 0.2083 301.33);
  --color-indigo-500: oklch(0.5008 0.2578 279.89);
  --color-lavender-500: oklch(0.9162 0.026 278.72);
  --color-dark-500: #131313;
  --color-dark-200: #1f1f1f;
  --color-light-500: #fefefe;
  --color-green-500: oklch(0.6 0.2 145);

  --font-poppins: "Poppins", sans-serif;
  --font-lily: "Lily Script One", cursive;
}

body {
  font-family: var(--font-poppins);
  color: var(--color-dark-500);
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}
